<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <table  style="width:100%">
      <tr>
        <td>Url Original</td>
        <td>Url Encurtada</td>
        <td>Quantidade de acessos</td>
        <td>Ação</td>
      <% docs.forEach(function(urls){ %>
      <tr>
        <td><%= urls.original %></td>
        <td> <%= global.baseUrl %>/url/<%= urls.hash %></td>
        <td><%= urls.acessos %></td>
        <td>
          <form action="/" method="POST">
          <input hidden name="url" type="text" value=<%= urls.original %> >
          <input type="submit" value="Excluir" />
        </form>
      </tr>
      <% }) %>
    </table>
    <button onclick="window.location.href = '/new'">Nova Url</button>
     
  </body>
</html>